.product {
  width: 801px;
  display: flex;
  /* flex-flow: column; */
}

.product-list {
  display: flex;
  flex-flow: row wrap;
  width: inherit;
  margin-bottom: 24px;
}

.product-brief__container {
  display: block;
  margin-right: 18px;
  height:580px;
}

/* class명 style에 있음 추가로 넣어야할 것 --------------------------------------------------- */
.product-brief__title {
  display: inline-block;
  word-wrap: break-word;
  overflow: hidden;
  white-space: normal;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.product-brief__info .is-sale {
  color: var(--gray-400);
}
/* --------------------------------------------------- */
.product-brief__img {
  width: 249px;
  height: 320px;
}

/* 샛별배송 */
.badge_faster {
  display: block;
  font-size: var(--text-sm);
  font-weight: 600;
  line-height: 18px;
  color: var(--gray-400);
  margin-bottom: var(--spacing-xs);
}

/* 제품설명 */
.product-brief__description {
  display: inline-block;
  margin-bottom: var(--spacing-xs);
  font-size: var(--text-sm);
  line-height: 18px;
  color: var(--gray-400);
}

/* review */
.product-brief__review {
  display: flex;
  align-items: center;
  font-size: var(--text-sm);
  margin-bottom: var(--spacing-xs);
}

.review__img {
  width: 12px;
  margin-right: 3px;
}

/* badge */
.product-brief__badge {
  margin-bottom: var(--spacing-xs);
}

.badge {
  background-color: var(--gray-100);
  padding: 4px;
  margin-right: 8px;
  border-radius: 10%;
  font-size: var(--text-sm);
  font-weight: 600;
}

.badge__karly-only {
  color: var(--primary);
}
