@import url(./normalize.css);
@import url(./reset.css);
@import url(./a11y.css);
@import url(./theme.css);
@import url(./base.css);
@import url(./pretendard.css);

* {
  color: var(--content);
}
.is-active {
  color: var(--primary);
}

/* 헤더 메인 */
.header {
  max-width: var(--container-width);
  margin: 3.25rem auto;
  position: relative;
}
.header--main {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 0rem;
  gap: 5.9375rem;
  position: relative;
}
.header-main-link-list {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: var(--spacing-md);
  font-weight: 600;
  font-size: var(--text-md);
  line-height: 150%;
  position: relative;
  color: var(--gray-400);
}
.header-main-link-list::after {
  content: "";
  display: inline-block;
  width: 0.0938rem;
  height: 1rem;
  background-color: var(--gray-200);
  position: absolute;
  top: 1.0625rem;
  right: 5.375rem;
}
.header--main-search {
  padding: var(--spacing-sm) var(--spacing-md);
  position: absolute;
  width: 25rem;
  height: 3.75rem;
  left: 21.875rem;
  top: -0.6875rem;
  border: 0.125rem solid var(--primary);
  border-radius: 0.25rem;
}
.header--main-search-icon {
  position: absolute;
  top: 0.0625rem;
  right: 20.625rem;
  z-index: 1;
  cursor: pointer;
  padding: var(--spacing-xs);
}
.header--main-icons {
  display: flex;
  flex-flow: row nowrap;
  gap: var(--spacing-md);
}

/* 헤더 멤버스 */
.header--member {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 10px;
  position: absolute;
  top: -2.1875rem;
  right: 0;
}
.header--member a {
  padding: var(--spacing-xs);
  font-size: var(--text-sm);
}
.header--member li:nth-child(-n + 2)::after {
  content: "";
  display: inline-block;
  width: 0.125rem;
  height: var(--spacing-xs);
  background-color: var(--gray-200);
  margin-left: 0.25rem;
}
