.cart {
  padding: 3.125rem;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.cart-header {
  margin: 50px 0;
  font-size: 1.75rem;
  font-weight: 500;
}

.cart--container-first {
  position: relative;
}

.cart--container-checkbox:first-child {
  margin-bottom: .625rem;
}
.cart--container-checkbox:last-child {
  margin-top: .625rem;
}

.cart--container-first input[type="checkbox"] {
  width: 1.5rem;
  height: 1.5rem;
  background: url("../../assets/icons/Icon/check-box-round.svg") no-repeat 0 0px;
  background-size: 3px bottom;
  position: absolute;
  appearance: none;
}

.cart--container-first input[type="checkbox"] + label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 1.875rem;
  z-index: 5;
}

.cart--container-first input[type="checkbox"]:checked + label {
  background: url("../../assets/icons/Icon/checked-box-round.svg") no-repeat 0
    0px;
  background-size: 1.5625rem 1.5625rem;
  /* background-position: 3px bottom; */
  z-index: 18;
}

.cart--container-product {}

.cart--product-check {}

.cart--container-product li:first-child {
  border-top: 1px solid black;
}

.cart--container-product li {
  padding: .625rem 0;
  border-bottom: 1px solid black;
}

.cart--container-product li img {
  vertical-align: middle;
}

.cart--container-product li span {
  margin-left: .625rem;
}

.cart-container-checkbox-btn::before {
  content: "|";
  font-size: .625rem;
  vertical-align: baseline;
  margin-right: .625rem;
}

.arrow-icon {
  float: right;
}

.cart-container-checkbox-btn {
}


.cart--container-second {
  margin-top: 1.875rem;
  margin-left: 1.25rem;
}

.address-header {
  display: flex;
  align-items: center;
  margin-bottom: .625rem;
}

.cart--container-second-address {
  display: flex;
  flex-flow: column nowrap;
  border: 1px solid var(--gray-200);
  padding : 1.25rem;
}

.cart--container-second-address img {
}

.cart--container-second-address p {
  margin-bottom: 10px;
}

.cart--unique-text {
  color: purple;
  font-size: .875rem;
}

.cart--container-btn {
  padding: 15px 0;
  border: 1px solid purple;
  color: purple;
  border-radius: 10px;
}

.cart--container-second-price {
  background-color: var(--gray-50);
  padding: 1.25rem;
}

.cart--container-second-price dl {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.cart--container-second-price span {
  display: block;
}