.login {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-bottom: 2.75rem;
  position: relative;
}
.login--title {
  font-weight: 600;
  font-size: 21.328px;
  line-height: 150%;
  margin: 2.75rem auto;
}
.login--form fieldset {
  display: flex;
  flex-flow: column nowrap;
}
.login--form fieldset *,
.login--mv-signUp {
  width: 21.25rem;
  height: 3.125rem;
}
.login--form input {
  border: 0.0625rem solid var(--gray-200);
  border-radius: 0.25rem;
  padding: var(--spacing-sm) var(--spacing-md);
  margin-bottom: var(--spacing-sm);
}
.login--form-button,
.login--mv-signUp {
  border-radius: 0.25rem;
  font-weight: 600;
}
.login--form-button {
  background-color: var(--primary);
  border: none;
  color: var(--white);
  margin-top: 3.6875rem;
  margin-bottom: var(--spacing-sm);
}
.login--mv-signUp {
  background-color: transparent;
  border: 0.0625rem solid var(--primary);
  color: var(--primary);
}
.login--find li:nth-child(-n + 1)::after {
  content: "";
  margin-left: 0.25rem;
  width: 0.0625rem;
  height: 0.5625rem;
  background-color: var(--content);
  display: inline-block;
}
.login--find {
  display: flex;
  flex-flow: row nowrap;
  width: 21.25rem;
  justify-content: end;
  gap: 0.25rem;
  position: absolute;
  top: 250px;
  font-size: 0.875rem;
}

/* 경고창 */
.alert {
  width: 22.5rem;
  height: fit-content;
  background-color: var(--white);
  padding: var(--spacing-base);
  text-align: center;
  font-weight: 600;
  border-radius: var(--spacing-base);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 9999;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
}
.alert--warning {
  margin: 1.5rem auto 2.25rem auto;
}
.alert--button {
  width: 306.4px;
  display: block;
  background-color: var(--white);
  font-weight: 600;
  margin: auto;
  padding-top: var(--spacing-base);
  padding-bottom: var(--spacing-xs);
  border: none;
  border-top: 1px solid var(--gray-50);
}
.alert--background {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9998;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
}
