article {
  padding: 50px 50px;
  margin: 0 auto;
  position: relative;
}

button {
  border: none;
  border: 0;
  background-color: transparent;
}

.product-list-nav {
  position: sticky;
  width: 13.75rem;
  flex-shrink: 0;
  height: 100%;
  max-height: calc(100vh - 120px);
  top: 80px;
  margin-right: 45px;
  border-bottom: var(--gray-100);
  overflow: hidden scroll;
}

.product-list-nav::-webkit-scrollbar {
  display: none;
}

.product-list-nav-filter {
  position: sticky;
  top: 0px;
  display: flex;
  z-index: 10;
  background-color: var(--white);
  justify-content: space-between;
  align-items: center;
  padding: 1px 6px 1.25rem 6px;
  /* padding-bottom: 1.25rem; */
  border-bottom: 1px solid var(--gray-100);
}

.nav-fillter_text {
  font-size: 1rem;
  font-weight: 600;
  color: var(--content);
}

.nav-filter_button {
  display: flex;
  align-items: center;
  pointer-events: none;
}

.nav-filter_text-init {
  margin-left: 5px;
  font-weight: 500;
  color: var(--gray-100);
}

.nav-menu_category {
  border-bottom: 1px solid var(--gray-100);
}
.nav-menu_brand {
  border-bottom: 1px solid var(--gray-100);
}
.nav-menu_price {
  border-bottom: 1px solid var(--gray-100);
}

.nav-menu-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 3.25rem;
  overflow: hidden;
}
.nav-menu-btn2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 3.25rem;
  overflow: hidden;
}
.nav-menu-btn3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 3.25rem;
  overflow: hidden;
}

.nav-menu-btn span {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.25rem;
  color: var(--content);
}
.nav-menu-btn2 span {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.25rem;
  color: var(--content);
}
.nav-menu-btn3 span {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.25rem;
  color: var(--content);
}

.nav-menu_category-svg,
.nav-menu_brand-svg,
.nav-menu_price-svg {
  /* 버튼 클릭 시 transform = rotate(n deg) 회전 초기값은 0 */
  transform: rotateZ(0deg);
}

.nav-menu_ul {
  display: none;
}
.nav-menu_ul2 {
  display: none;
}
.nav-menu_ul3 {
  display: none;
}

.nav-menu_ul-list:first-of-type {
  margin-top: 0.625rem;
}

label {
  cursor: pointer;
}

input[type="checkbox"] + label {
  display: inline-block;
  margin: 0 5px;
  width: 18px;
  height: 18px;
  background: url("../../assets/icons/Icon/check-box-round.svg") no-repeat 0 0px /
    contain;
  vertical-align: middle;
}

input[type="checkbox"]:checked + label {
  background: url("../../assets/icons/Icon/checked-box-round.svg") no-repeat 0
    1px / contain;
  vertical-align: middle;
}

input[type="checkbox"] {
  display: none;
}

.nav-menu_ul-list label {
  vertical-align: baseline;
}

.ul-list_count {
  flex-shrink: 0;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1rem;
  color: var(--gray-200);
}

.nav-menu_category-plus {
  width: 100%;
  height: 1.875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--gray-300);
  font-size: 0.75rem;
  font-weight: 600;
  margin-bottom: 0.625rem;
}

.nav-menu_category-plus svg {
  transform: rotateZ(180deg);
}

.nav-menu_ul.closed1 {
  display: flex;
  flex-flow: column nowrap;
  height: auto;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}
.nav-menu_ul2.closed2 {
  display: flex;
  flex-flow: column nowrap;
  height: auto;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}
.nav-menu_ul3.closed3 {
  display: flex;
  flex-flow: column nowrap;
  height: auto;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

.nav-menu_ul-list {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.nav-menu_category-svg.swich-icon--active1,
.nav-menu_brand-svg.swich-icon--active2,
.nav-menu_price-svg.swich-icon--active3 {
  transform: rotate(180deg);
  transition: all 300ms ease;
}
