.main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.recommend {
  max-width: var(--container-width);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 3.125rem 0 2.5rem 0;
}

.recommend__title {
  padding: var(--spacing-xs) 0;
  margin-bottom: 2.5rem;
  font-size: var(--text-lg);
  font-weight: 700;
}

.product-brief__visual {
  position: relative;
  margin-bottom: var(--spacing-base);
}

.product-brief__icon {
  border: none;
  background-color: transparent;
  height: 45px;
  width: 45px;
  position: absolute;
  z-index: 10;
  right: 18px;
  bottom: 17px;
}

.product-brief__icon img {
  position: relative;
  left: -7px;
  top: -2px;
}

.product-brief__info {
  max-width: 249px;
}

.product-brief__title {
  margin-bottom: var(--spacing-xs);
  overflow: hidden;
  display: -webkit-box;
  word-wrap: break-word;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.product-brief__price {
  display: block;
  font-size: var(--text-md);
  font-weight: 600;
  margin-bottom: var(--spacing-xs);
}

.product-brief__info .is-sale {
  font-size: var(--text-sm);
  text-decoration: line-through;
  margin-top: var(--spacing-xs);
  color: var(--gray-400);
}

.product-brief__sale-ratio {
  font-size: var(--text-md);
  font-weight: 600;
  color: var(--accent-yellow);
  margin-right: var(--spacing-xs);
}

.product-brief__sale-price {
  font-size: var(--text-md);
  font-weight: 600;
}

.slider-wrapper {
  position: relative;
  width: 100%;
}

.product-swiper {
  max-width: var(--container-width);
  position: relative;
  overflow: hidden;
}

.swiper-recommend-button-prev {
  background: no-repeat center/100%
    url(../../assets/mainPage/recommend/recommend-arrow.jpg);
  position: absolute;
  z-index: 10;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  left: -25px;
  top: 160px;
  transform: rotate(180deg);
}

.swiper-recommend-button-next {
  background: no-repeat center/100%
    url(../../assets/mainPage/recommend/recommend-arrow.jpg);
  position: absolute;
  z-index: 10;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  right: -25px;
  top: 160px;
}

.swiper-button-next::after {
  display: none;
}

.line-banner {
  padding: 2.5rem 0;
  max-width: inherit;
}

.line-banner img {
  max-width: inherit;
  height: 139px;
}
